
.hero{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    
    .img,img{
        max-width: 400px;
    }
    .text{
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        gap: 30px;
        span{
            color: rebeccapurple;
            // font-weight: 600;
            font-size: 22px;
            // font-stretch
            letter-spacing: 5px;
        }
        h3{
            font-size: 36px;
            font-weight: 700;
        }
        .buttons a{
            padding: 7px 20px;
            font-size: 12px;
            border-radius: 8px;
            border: 2px solid #fff;
            cursor: pointer;
        }
        .buttons a:last-child{
            background-color: #fff;
            color: #000000;
            margin-left: 10px; 
          

        }
        img{
            max-width: 50px;
        }

        
    }
    .image img{
        position: absolute;
        max-width: 320px;
        bottom: 0;
        right: 0;
        
    }
    .slidingText{
        position: absolute;
       bottom: 90px;
        color: #fff;
        font-size: 25vw;
        z-index: -1;
        color: rgba(102, 51, 153, 0.087);
        white-space: nowrap;
        width: 50%;
        
    }
    overflow: hidden;
}